In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# df = pd.DataFrame(np.array([
#     ['Розы Люксембург',"Грушевка",10,96.5,74.3,5,2023,3,0,139809], 
#     ['Герасименко д.1',"Могилёвская",25,58.6,38.7,9,1980,3,2,57500], 
#     ['Притыцкого 32',"Пушкинская",1,49,29,6,1973,2,7,71500],
#     ['Мазырова 16',"Каменная горка",17,52,27,2,2000,2,8,81000], 
#     ['Партизанский 111',"Автозаводская",0,110,54.6,4,2022,3,,79900], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700],
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700],
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700],
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700],
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700],
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700],
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700],
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700], 
#     ['Тимирязева',"",0,110,68,4,2022,3,,194700],]),
#                    columns=['адрес', 'метро', 'время до метро', 
#                             'общая площадь','жилая площадь',
#                             'этаж', 'год постройки', 'кол-во комнат', "ремонт", 'цена'])

In [1]:
import pandas as pd
import numpy as np

In [37]:
#df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den', 'Viktor'], 'user.number' : ['222-333', None, '222-555', '222-666', '222-777'], 'user.speed' : [40, None, 42, 35, 60], 'user.bag_weight' : [8, None, 2, 4, 19]})

In [2]:
df = pd.read_csv('bookings.csv', sep=';')

In [3]:
df

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [4]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [5]:
df[df['is_canceled'] == 1]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-06-23
27,Resort Hotel,1,60,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-05-11
32,Resort Hotel,1,96,2015-07-01,2015,July,27,1,2,8,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110280,City Hotel,1,132,2017-04-25,2017,April,17,25,0,0,...,0,0.0,0,BB,FRA,D,K,Transient,Canceled,2017-04-25
111355,City Hotel,1,4,2017-06-05,2017,June,23,5,1,0,...,1,0.0,0,BB,PRT,A,A,Transient,Canceled,2017-06-05
111924,City Hotel,1,7,2017-05-31,2017,May,22,31,0,1,...,1,0.0,0,BB,PRT,A,A,Transient,Canceled,2017-05-31
111925,City Hotel,1,6,2017-07-17,2017,July,29,17,1,0,...,1,0.0,0,BB,PRT,A,D,Transient,No-Show,2017-07-17
117295,City Hotel,1,0,2017-08-02,2017,August,31,2,0,2,...,1,0.0,0,BB,PRT,A,C,Transient,No-Show,2017-08-02

In [6]:
df[df['hotel'] == 'Resort Hotel']['stays_total_nights'].mean()

4.318547179231153

In [7]:
df[df['assigned_room_type'] != df['reserved_room_type']]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [8]:
df[df['arrival_date_year'] == 2017]['arrival_date_month'].value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [9]:
df.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [10]:
df.groupby(['arrival_date_year', 'arrival_date_month'])['is_canceled'].sum()

arrival_date_year  arrival_date_month
2015               August                1598
                   December               973
                   July                  1259
                   November               486
                   October               1732
                   September             2094
2016               April                 2061
                   August                1825
                   December              1398
                   February              1337
                   January                557
                   July                  1499
                   June                  2096
                   March                 1477
                   May                   1915
                   November              1636
                   October               2514
                   September             2022
2017               April                 2463
                   August                1816
                   February              1359
                   January               1250
                   July                  1984
                   June                  2439
                   March                 1672
                   May                   2762
Name: is_canceled, dtype: int64

In [11]:
df['adults'].mean()

1.8564033838679956

In [12]:
df['children'].mean()

0.10388990333874994

In [13]:
df['babies'].mean()

0.007948739425412514

In [14]:
df['total_kids'] = df['children'] + df['babies']

In [18]:
df[df['hotel'] == 'City Hotel']['total_kids'].mean()

0.09631142374505207

In [19]:
df[df['hotel'] == 'Resort Hotel']['total_kids'].mean()

0.14258612081877184

In [24]:
df[(df['total_kids'] == 1) & (df['is_canceled'] == 1)].shape[0] / df[df['total_kids'] == 1].shape[0]

0.3079324274697025

In [25]:
df[(df['total_kids'] == 0) & (df['is_canceled'] == 1)].shape[0] / df[df['total_kids'] == 0].shape[0]

0.3721900158104203

In [26]:
df['has_kids'] = df['total_kids'] > 0

In [33]:
df.nunique()

hotel                          2
is_canceled                    2
lead_time                    479
arrival_full_date            793
arrival_date_year              3
arrival_date_month            12
arrival_date_week_number      53
arrival_date_day_of_month     31
stays_in_weekend_nights       17
stays_in_week_nights          35
stays_total_nights            45
adults                        14
children                       5
babies                         5
meal                           5
country                      177
reserved_room_type            10
assigned_room_type            12
customer_type                  4
reservation_status             3
reservation_status_date      926
total_kids                     6
has_kids                       2
dtype: int64